<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мои заказы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
</head>
<body>
<div th:insert="headers/ClientHeader"></div>
<div class="container">
    <h1>Заказы</h1>
    <div class="card card_margin mb-2" th:each="booking : ${bookings}">
        <div class="card-header">
            <h4 class="card-title" th:if="${booking.product!=null}" th:text="${booking.product.name}"/>
            <h4 class="card-title" th:if="${booking.phoneNumber!=null}" th:text="${booking.phoneNumber.number}"/>
        </div>
        <div class="card-body">
            <h6 class="card-title" th:if="${booking.product!=null}" th:text="${booking.product.price+'₽'}"/>
            <h6 class="card-title" th:if="${booking.phoneNumber!=null}"
                th:text="${booking.phoneNumber.tariff.priceMount+50+'₽'} "/>
        </div>
    </div>
</div>
</body>
</html>