<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Товары</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
</head>
<body>
<div th:insert="headers/SellerHeader"></div>
<div class="container">
    <form>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    <input type="text" name="username" class="form-control" placeholder="Логин заказчика"/>
                </div>
                <div class="col col-lg-3">
                    <input class="btn btn-success" formmethod="get" type="submit" formaction="/booking/filter"
                           value="Поиск"/>
                </div>
            </div>
        </div>
    </form>
    <h1>Товары</h1>
    <table class="table mb-5">
        <thead>
        <tr>
            <th class="text-center">Наименование</th>
            <th class="text-center">Цена</th>
            <th class="text-center">Характеристика</th>
            <th class="text-center">Заказчик</th>
            <th class="text-center">Добавить в корзину</th>
            <th class="text-center">Удалить</th>
        </tr>
        </thead>
        <tbody th:if="${booking.product!=null}" th:each="booking : ${bookings}">
        <tr>
            <td class="text-center" th:text="${booking.product.name}"/>
            <td class="text-center" th:text="${booking.product.price}"/>
            <td class="text-center" th:text="${booking.product.characteristic}"/>
            <td class="text-center" th:text="${booking.user.username}"/>
            <td class="text-center">
                <form th:action="@{/booking/addToCart}" method="post">
                    <input value="Добавить в корзину" type="submit" class="btn btn-outline-primary">
                    <input type="hidden" th:value="${booking.idBooking}" name="idBooking">
                </form>
            </td>
            <td class="text-center">
                <form th:action="@{/booking/delete}" method="post">
                    <input value="Удалить" type="submit" class="btn btn-outline-danger">
                    <input type="hidden" th:value="${booking.idBooking}" name="idBooking">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h1>Номера</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center">Номер</th>
            <th class="text-center">Цена</th>
            <th class="text-center">ICCID</th>
            <th class="text-center">Заказчик</th>
            <th class="text-center">Зарегистрировать</th>
            <th class="text-center">Удалить</th>
        </tr>
        </thead>
        <tbody th:if="${booking.phoneNumber!=null}" th:each="booking : ${bookings}">
        <tr>
            <td class="text-center" th:text="${booking.phoneNumber.number}"/>
            <td class="text-center" th:text="${booking.phoneNumber.tariff.priceMount+50}"/>
            <td class="text-center" th:text="${booking.phoneNumber.ICCID}"/>
            <td class="text-center" th:text="${booking.user.username}"/>
            <td class="text-center">
                <form th:action="@{/booking/registrationClientNumber}" method="post">
                    <input value="Зарегистрировать" type="submit" class="btn btn-outline-primary">
                    <input type="hidden" th:value="${booking.idBooking}" name="idBooking">
                </form>
            </td>
            <td class="text-center">
                <form th:action="@{/booking/delete}" method="post">
                    <input value="Удалить" type="submit" class="btn btn-outline-danger">
                    <input type="hidden" th:value="${booking.idBooking}" name="idBooking">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>