<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новый абонент</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/bootstrap.js}">
</head>
<body>
<div th:insert="headers/SellerHeader"></div>
<div class="container">
    <h1>Абонент</h1>
    <div class="row">
        <div class="col-md-8">
            <form th:action="${'/clientNumber/create'}" method="post" th:object="${clientNumber}" class="form col-sm-3">
                <div th:object="${client}">
                    <div class="form-group pt-1">
                        <label class="control-label">Номер<input type="text" name="number" list="phoneNumbers"
                                                                 class="form-control" th:value="${phoneNumberNumber}" ></label>
                        <datalist id="phoneNumbers">
                            <select th:each="phoneNumber : ${phoneNumbers}">
                                <option th:if="${phoneNumber.status==true}" th:value="${phoneNumber.number}">
                            </select>
                        </datalist>
                    </div>
                    <div th:object="${passportData}">
                        <div class="form-group pt-1">
                            <label class="control-label">Фамилия<input type="text" class="form-control"
                                                                       th:field="*{surname}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('surname')}"
                                 th:errors="*{surname}"></div>
                        </div>
                        <div class="form-group pt-1">
                            <label class="control-label">Имя<input type="text" class="form-control" th:field="*{name}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('name')}"
                                 th:errors="*{name}"></div>
                        </div>
                        <div class="form-group pt-1">
                            <label class="control-label">Отчество<input type="text" class="form-control"
                                                                        th:field="*{patronymic}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('patronymic')}"
                                 th:errors="*{patronymic}"></div>
                        </div>
                        <div class="form-group pt-1">
                            <label class="control-label">Дата рождения<input type="date" class="form-control"
                                                                             th:field="*{dateBirth}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('dateBirth')}"
                                 th:errors="*{dateBirth}"></div>
                        </div>
                        <div class="form-group pt-1">
                            <label class="control-label">Место рождения<input type="text" class="form-control"
                                                                              th:field="*{placeBirth}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('placeBirth')}"
                                 th:errors="*{placeBirth}"></div>
                        </div>
                        <div class="form-group pt-1">
                            <label class="control-label">Код подразделения выдачи<input type="text" class="form-control"
                                                                                        th:field="*{issueCode}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('issueCode')}"
                                 th:errors="*{issueCode}"></div>
                        </div>
                        <div class="form-group pt-1">
                            <label class="control-label">Кем выдан паспорт<input type="text" class="form-control"
                                                                                 th:field="*{issued}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('issued')}"
                                 th:errors="*{issued}"></div>
                        </div>
                        <div class="form-group pt-1">
                            <label class="control-label">Дата выдачи<input type="date" class="form-control"
                                                                           th:field="*{issueDate}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('issueDate')}"
                                 th:errors="*{issueDate}"></div>
                            <span class="error text-danger" th:if="errorMessageIssueDate!=null"
                                  th:text="${errorMessageIssueDate}"></span>
                        </div>
                        <div class="form-group pt-1">
                            <label class="control-label">Серия паспорта<input type="text" class="form-control"
                                                                              th:field="*{passportSeries}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('passportSeries')}"
                                 th:errors="*{passportSeries}"></div>
                        </div>
                        <div class="form-group pt-1">
                            <label class="control-label">Номер паспорта<input type="text" class="form-control"
                                                                              th:field="*{passportNumber}"></label>
                            <div class="error text-danger" th:if="${#fields.hasErrors('passportNumber')}"
                                 th:errors="*{passportNumber}"></div>
                        </div>
                    </div>
                    <div class="form-group pt-1">
                        <label class="control-label">Адрес<input type="text" class="form-control" th:field="*{address}"></label>
                        <div class="error text-danger" th:if="${#fields.hasErrors('address')}"
                             th:errors="*{address}"></div>
                    </div>
                </div>
                <div class="form-group m-lg-1">
                    <button class="btn btn-success" type="submit">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>